[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
font-fredoka-one = "*"
numpy = "*"
bs4 = "*"
requests = "*"
geocoder = "*"
beautifulsoup4 = "*"
pillow = "*"
pep8 = "*"
pyowm = "*"

[dev-packages]

[requires]
python_version = "3.9"
